default.appname=Uni
default.appclass=com.lilith.uni.demo.BaseApplication
default.appnameref=app_name
default.gameactivityclass=com.lilith.uni.demo.MainActivity
default.orientation=portrait

lilith.sdk.version=0.0.6
lilith.appid=101
lilith.gameid=10006
lilith.debug=true

qihoo.app_id=202983596
qihoo.app_key=e077d0e112b4b649a189865e32304e7a
qihoo.private_key=fd9e634cca9b3b493d9efe69df4bb9d8
qihoo.appclass=com.lilith.uni.demo.qihoo.QiHooBaseApplication
qihoo.appname=Uni360

jubaopen.app_id=202983596
jubaopen.app_key=e077d0e112b4b649a189865e32304e7a
jubaopen.private_key=fd9e634cca9b3b493d9efe69df4bb9d8
jubaopen.appclass=com.lilith.uni.demo.ju360.QiHooBaseApplication
jubaopen.appname=UniJubaopen

mi.app_id=\\ 2882303761517557176
mi.app_key=\\ 5641755743176
mi.appname=UniMi

uc.game_id=725000
uc.appname=UniAliGames

baidu.app_id=8281280
baidu.app_key=BEAxPoGyMwM77AGevQRnxLph
baidu.appname=UniBaidu

huawei.app_id=10562038
huawei.cp_id=\\ 890086000102015930
huawei.appname=UniHuawei

oppo.app_id=3473926
oppo.app_key=N97mk6d4IbK48WSgwW0kOSw8
oppo.app_sec=BE08DEeD56B456eCF4a33A9ce3Bfb5a6
oppo.appname=UniOppo

vivo.app_id=4fed919f48212430030378ac708108cc
vivo.appname=UniVivo

meizu.app_id=3146355
meizu.app_key=c4b6baebf5fc400baf7d57eaa1a8c9c7
meizu.appname=UniMeizu

wandoujia.app_key=100041908
wandoujia.sec_key=d910ceb48f52dc4434b5de599b9ba20d
wandoujia.appname=UniWandoujia

muzhiwan.app_key=5ee14bf8acd842cec8d66afa2035a747
muzhiwan.appname=UniMzw

sisan.app_key=112263
sisan.appname=Uni4399

jinli.api_key=C40BA3B268F24C8EA96496B10CE2628A
jinli.appname=UniJinli

lenovo.app_id=1606210100609.app.ln
lenovo.appname=UniLenovo

coolpad.app_id=\\ 5000005522
coolpad.appname=UniCoolpad

douyu.appname=UniDouyu

samsung.app_id=\\ 3009014343
samsung.appname=UniSamsung

samsung_one.appname=UniSamsung1
samsung_one.app_id=\\ 5000470477
samsung_one.public_key=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCgMED0TIwoQlEPN6NfqvTMLoy00x2yq1Sd1a+74jSibZyQPMNc8QE9XvVcdL+5U38XtDazgUNJa+kVOMcy1PZqEcoUyoWFh4gJ1LbtvntIqgGus2iQQw9T2IOBgQ7FyHDLTpOflMtVkJ8wpsbdX2SegEvGdrsvZNLqpRVwpLTEMwIDAQAB
samsung_one.client_id=7pk18stl9x
samsung_one.client_secret=9A247F2B1475988B88E44F15D0EBEE35
samsung_one.package=com.lilithgame.sgame.samsung

leshi.app_id=260066
leshi.app_key=47c5f0f117c9410cbfa9a7453a00fd44
leshi.appname=UniLeshi

yingyongbao.qq_app_id=1105959627
yingyongbao.wechat_app_id=wx15d37d4cb2f8e7c2
yingyongbao.offer_id=1105959627
yingyongbao.appname=UniYingyongbao
yingyongbao.package=com.tencent.tmgp.lilithgame.sgame
yingyongbao.versioncode=9
yingyongbao.versionname=1.9

nubia.app_id=1179361
nubia.app_key=ec7096c3febc4fd0876020373caca325
nubia.appname=UniNubia

dangle.merchant_id=21327
dangle.app_id=6073
dangle.app_key=XElnE9pd
dangle.appname=UniDangle

iqiyi.game_id=4932
iqiyi.appname=UniIqiyi